---
import GdprPopup from '../components/GdprPopup.astro';
import Popup from '../components/Popup.astro';
import AnnoyingChatbot from '../components/AnnoyingChatbot.astro';
import SurveyPopup from '../components/SurveyPopup.astro';
import SpinWheelPopup from '../components/SpinWheelPopup.astro';
import DownloadAppPopup from '../components/DownloadAppPopup.astro';
import QrCodePopup from '../components/QrCodePopup.astro';
import FollowSocialPopup from '../components/FollowSocialPopup.astro';


export interface Props {
	title: string;
	showPopups?: boolean;
}

const { title, showPopups = false } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		{showPopups && (
			<>
				<GdprPopup />
				<Popup />
				<AnnoyingChatbot />
				<SurveyPopup />
				<SpinWheelPopup />
				<DownloadAppPopup />
				<QrCodePopup />
				<FollowSocialPopup />
			</>
		)}
	</body>
</html>
